
h1 { align: bottom; margin-top: 0; margin-bottom: 0; font-weight: 300; font-size: 5vw; } 

hr { margin: 0.5rem 0; }

iframe#pdf-js-viewer { padding: 0.5rem; display: block; }

ul { list-style-type: none; }

nav li { display:  inline-block; text-align: center; padding: 5px 10px;  }

li { margin-bottom: 10px; }

body { font-family: "Times New Roman", Times, serif; font-size: 1.5vw; background: #fff; }

p { padding: 0 0.5rem; font-weight: 300; line-height: 1.25; font-size: 1.5vw; }

nav { width: 100%; height: auto; display: block; padding-bottom: 2vh; font-size: 2vw; }


a { text-decoration: none; }

@media only screen and (max-width: 1150px) {

	h1 { align: bottom; margin-top: 0; margin-bottom: 0; font-weight: 300; font-size: 5vw; }

        p { padding: 0 0.5rem; font-weight: 300; line-height: 1.3; font-size: 3.5vw; }

        li { padding: 0 0.5rem; font-weight: 300; line-height: 1.2; font-size: 3.5vw; }

	body { font-family: "Times New Roman", Times, serif; font-size: 3.5vw; }

        @media only screen and (orientation : landscape) { li { padding: 0 0.5rem; font-weight: 300; line-height: 1.2; font-size: 1.5vw; } }

}

