body {
font-family: "Roboto",serif;
background-color:#D3D3D3;
opacity: .999;
}

ul, li, p {
  font-weight: 200;
}

h1 {
font-weight: 300;
}

h2, h3 { font-weight: 200; }

.normal{
  font-weight: 300;
}

.light{
  font-weight: 100;
}

a {
  color: black;
  text-decoration: none;
}


 header {
        margin: 0;
        padding: 0;
        height: 100vh;
	z-index:1;
      }
