.logo { margin: 0.67rem 0.5rem 2rem; font-weight: 300; font-size: 3vw; }

h2 { font-weight: 300; font-size: 2vw; }

hr { margin: 0.5rem 0; }

iframe#pdf-js-viewer { padding: 0.5rem; display: block; }

nav { width: 100%; height: auto; display: block; padding-bottom: 2vh; }

ul { list-style-type: none; }

nav li { display:  inline-block; text-align: center; padding: 5px 10px;  }

li { margin-bottom: 5px; font-size: 1vw; padding-bottom: 1vw; }

body { 
	font-family: "Ubuntu"; 
        height: 100vh; /* or height: 100% */
        width: 100vw; /* or width: 100% */
        margin: 0; /* Remove default margins */
        padding: 0; /* Remove default padding */
}

html {
        height: 100%; /* Ensure the html element takes up the full height */
    }

p { padding-left: 1vw; padding-right: 1vw; font-weight: 200; line-height: 1.3; font-size: 1vw; }

a { text-decoration: none; }

nav li { font-size: 1.5vmax; font-weight: 300;}

#grad { background: #43c6ac; background: -webkit-linear-gradient(to right, #b2e6fa, #e7eb80 10%); background: linear-gradient(to left, #e7eb80 10%, #b2e6fa);   }

#pdf-js-viewer { border-style: none; }

/*
@media only screen and (max-width: 1150px) {

        p { padding: 0 0.5rem; font-weight: 200; line-height: 1.3; font-size: 1vw; }

        ul li a { padding: 0 0.5rem; font-weight: 200; line-height: 1.2; font-size: 1vw; }


        .logo { margin: 0.67rem 0.5rem 2rem; font-weight: 300; font-size: 4vw; }

        @media only screen and (orientation : landscape) { 
		ul li a { padding: 0 0.5rem; font-weight: 200; line-height: 1.2; font-size: 1vw; } 
		p { padding: 0 0.5rem; font-weight: 200; line-height: 1.3; font-size: 1vw; }
	}
}
*/

.MathJax { font-size: 1.2vmax!important; }
