<!DOCTYPE html>
<html lang="en">
<head>
<title>Math Data Science Book</title>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;700&display=swap" type="text/css" rel="stylesheet" >
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png">
<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="48x48" href="/images/favicon-48x48.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="144x144" href="/images/favicon-144x144.png">
<link rel="icon" type="image/png" sizes="180x180" href="/images/favicon-180x180.png">
<link rel="icon" type="image/png" sizes="72x72" href="/images/favicon-72x72.png">
<link rel="icon" href="/images/favicon.ico">
<link href="/css/nav.css" type="text/css" rel="stylesheet" >

<!-- MathJax JS -->
<script> MathJax = { tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] } }; </script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"> </script>

</head>

<body id="grad">

<h1 style="align: bottom; margin-top: 0; margin-bottom: 0; font-weight: 300; font-size: 5vmax;">Math for Data Science</h1>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
	<li><a href="https://www.google.com/books/edition/Math_for_Data_Science/6C1gEQAAQBAJ?hl=en&gbpv=0" target="_blank">Preview</a></li>
        <li><a href="/files">Files</a></li>
	<li><a href="/podcasts">Podcasts</a></li>
        <li><a href="/errata">Errata</a></li>
	<li> <a href="https://link.springer.com/book/9783031897061" target="_blank">Publisher</a> </li>
	<li><a href="https://omar-hijab.org" target="_blank">Author</a></li>
      </ul>
    </nav>

