---
---

 {% include header.html %}

<h2>Gradient Descent Visualizer Code</h2>

<p>
Source: <a href="https://github.com/lilipads/gradient_descent_viz">https://github.com/lilipads/gradient_descent_viz</a>.</p>

<ul>
	<li> <a href="/gradient_descent_viz_windows64bit.zip" download>windows zip file</a></li>
	<li> <a href="gradient_descent_visualization-macOS64bit.dmg" download>macOS dmg file</a></li>
	<li> <a href="/gradient_descent_visualization" download>Linux executable</a></li>
</ul>


 {% include footer.html %}

